.jesm_calendar{
	width:214px!important;
	padding:0!important;
	overflow:hidden!important;
	position:absolute!important;
	display:none;
	background:#666!important;
	background:rgba(102, 102, 102, .6)!important;
	font:14px/1.5 Helvetica, Arial, sans-serif;
	color:#444;
	z-index:9999;
	box-shadow:1px 1px 5px;
	border:1px solid #444;
}
.jesm_calendar a{
	text-decoration:none;
	color:#FFF;
}
.jesm_calendar, .jesm_calendar *{
	margin:0;
	padding:0;
}
.jesm_calendar .cabeca{
	overflow:hidden;
	color:#FFF;
	background:#444;
	line-height:25px;
	font-size:15px;
	user-select:none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.jesm_calendar .seta, .jesm_calendar .title{
	padding:5px;
	text-align:center;
}
.jesm_calendar .seta{
	width:20px;
}
.jesm_calendar .seta:hover{
	background:#999;
}
.jesm_calendar .seta:active{
	background:#BBB;
}
.jesm_calendar .seta.esq{
	float:left;
}
.jesm_calendar .seta.dir{
	float:right;
}
.jesm_calendar .title{
	width:144px;
	margin:0 30px;
	cursor:default;
}
.jesm_calendar .title.grab{
	cursor:move;
	cursor:-moz-grab;
	cursor:-webkit-grab;
	cursor:grab;
}
.jesm_calendar .title.grabbing{
	cursor:-moz-grabbing;
	cursor:-webkit-grabbing;
	cursor:grabbing;
}
.jesm_calendar .title span{
	display:inline-block;
	font-weight:bold;
	margin:0 2px;
}

.jesm_calendar .main{
	width:100%;
}
.jesm_calendar .main table{
	width:100%;
	position:relative;
	border-collapse:collapse;
	table-layout:fixed;
}
.jesm_calendar .main .head{
	background:#666;
}
.jesm_calendar .main .head th{
	color:#FFF;
	padding:2px;
}
.jesm_calendar div.tables{
	overflow:hidden;
	position:relative;
}
.jesm_calendar div.meses{
	position:relative;
}
.jesm_calendar table th, .jesm_calendar table td{
	height:20px;
	text-align:center;
	vertical-align:middle;
}
.jesm_calendar table th{
	font-weight:bold;
}

.jesm_calendar table td{
	border:1px solid #AAA;
}
.jesm_calendar table td a{
	display:block;
	height:26px;
	line-height:26px;
	background:#666;
	transition:all .5s;
	-webkit-transition:all .5s;
	-moz-transition:all .5s;
	cursor:default;
}
.jesm_calendar table td a.ativo{
	background:#999;
	cursor:pointer;
}
.jesm_calendar table td a.ativo.atual{
	background:#EAEAEA;
	color:#333;
}
.jesm_calendar table td a.ativo.atual:hover{
	background:#666;
	color:#EFEFEF;
}
.jesm_calendar table td a.ativo.atual:active{
	background:#FFF;
}
.jesm_calendar table td span:hover{
	background:#FFF;
}

.jesm_calendar a.fechar{
	display:block;
	width:50px;
	text-align:center;
	margin:auto;
	line-height:22px;
}
